@import 'reset';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: 100% $font-stack;
  color: $primary-color;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
